.Button {
  background: var(--light-10);
  border: none;
  height: 34px;
  width: 65px;
  cursor: pointer;
  border-radius: 0 50px 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}